<div class="container-fluid">
  <div class="row">
    <div class="card col col-md-6 col-sm-12 mb3" *ngFor="let item of hotels; let i = index">
      <img class="card-img-top" src="{{item.images[0]}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text">{{item.description}}</p>
        <a href="#" class="btn btn-primary">Show details</a>
      </div>
    </div>
  </div>


  <button (click)="loadHotels()" class="btn btn-primary" type="submit" [disabled]="isLoading">
    <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
    <span translate>Get Hotels</span>
  </button>
